<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="AdminlogInID" value="kk"/>
    <add key="AdminPassword" value="kk"/>
    <add key="Host" value="smpt.gmail.com"/>
    <add key="Password" value="YourPassword"/>
    <add key="UserNakme" value="YourEmailID@gamil.com"/>
    <add key="Port" value="587"/>
    
    
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=AFIFA\SQLEXPRESS;Initial Catalog=StitchOnDemand;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="StitchOnDemandConnectionString" connectionString="Data Source=AFIFA\SQLEXPRESS;Initial Catalog=StitchOnDemand;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="StitchOnDemandConnectionString2" connectionString="Data Source=AFIFA\SQLEXPRESS;Initial Catalog=StitchOnDemand;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="caffeeShopConnectionString" connectionString="Data Source=AFIFA\SQLEXPRESS;Initial Catalog=caffeeShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
